# Example Project Configuration
PROJECT_ID=68f3158ba068b516dabbdf01
PROJECT_NAME=示例标注项目
PROJECT_SLUG=example-annotation-project
DB_NAME=proj_example_annotation_project
MANAGER_ID=68f3158ba068b516dabbdefc
